#login {
  .login-container {
    border: none;
    background-color: #f6faf9;
    width: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    .header {
      display: flex;
      justify-content: center;
      font-size: 2.7em;
      padding: 10px;
      font-family: "Frank Ruhl Libre", serif;
      .app-title {
        display: flex;
        align-items: center;
      }
    }
  }
}
