@import "../../../Modal/index.scss";

.board-settings {
  @extend .Modal;
  max-width: 1000px;
}

#board-settings {
  min-height: 500px;
  h2 {
    margin: 10px;
  }
  #container {
    height: 500px;
  }
  #section-content {
    margin-bottom: 10px;
  }
}
