#card-tags {
  .tags-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    li {
      border-radius: 1em;
      margin: 5px 5px 5px 0;
      display: flex;
      align-items: center;
      div {
        display: flex;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        min-width: 50px;
        max-width: 100px;
        max-height: 15px;
        height: 15px;
        font-size: 12px;
        padding: 2px 5px;
        color: #fff;
      }
    }
  }
}
