#filters-basic {
  .filters-group-buttons {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    .filters-group-button {
      border: 1px solid lightgray;
      padding: 3px;
      margin: 3px;
      cursor: pointer;
    }
    .filters-group-button-add {
      width: 50px;
    }
    .filters-group-button-active {
      background-color: #4797e7;
      color: white;
    }
  }
}
