#editor-mode {
  height: 100%;
  margin: 10px;

  #editor-title {
    font-weight: 500;
    flex-grow: 1;
    font-size: 1.6em;
  }

  input,
  textarea {
    resize: none;
    border: none;
    padding: 5px;
  }
  .editor-description {
    max-height: 250pt;
    min-height: 50pt;
    textarea {
      resize: vertical;
    }
  }
  .editor-container {
    display: flex;
    margin-bottom: 5px;
    &:not(.no-border) {
      padding-bottom: 10px;
      border-bottom: 1px solid var(--card-border);
    }
    min-height: 2em;
  }

  .container-icon {
    margin-right: 15px;
    padding-top: 5px;
  }
  .row-margin {
    margin-bottom: 5px;
  }

  .editor-header {
    .editor-vote {
      margin-left: auto;
    }
  }
  .tag-container {
    margin: 10px 0;
  }

  .editor-delete-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .editor-delete-card-icon {
      cursor: pointer;
    }
  }

  .editor-comments-save {
    margin-left: 15px;
  }
}
