#editor-mode {
  width: 500px;
  height: 100%;

  #editor-title {
    font-weight: 500;
    flex-grow: 1;
    font-size: 1.6em;
  }

  textarea {
    resize: none;
    border: none;
    padding: 5px;
  }
  .editor-description {
    max-height: 250pt;
    min-height: 50pt;
    textarea {
      resize: vertical;
    }
  }
  .editor-container {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--card-border);
    min-height: 2em;
  }

  .flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .flex-column {
    flex-direction: column;
  }

  .container-icon {
    margin-right: 15px;
    padding-top: 4px;
  }
  .container-icon-padding {
    padding-top: 0;
  }

  .row-margin {
    margin-bottom: 5px;
  }

  .editor-header {
    .editor-vote {
      margin-left: auto;
    }
  }
  .tag-container {
    margin: 10px 0;
  }

  .editor-delete-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .editor-delete-card-icon {
      cursor: pointer;
    }
  }

  #editor-column {
    .styled-select {
      border: 1px solid var(--card-border);
      overflow: hidden;
      width: 180px;
    }
    .styled-select {
      select, div {
        outline: none;
        background: var(--text-bg-color);
        border: none;
        font-size: 1.2em;
        padding: 5px;
        width: 200px;
      }
    }

    .semi-square {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    .background-color {
      background-color: #ccd9e052;
    }
  }
  .editor-comments-save {
    border: none;
    outline: none;
    padding: 8px 16px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
  }
  .editor-comments-save:hover:enabled {
    background-color: var(--button-hover);
  }
  .editor-comments-save:disabled,
  .editor-comments-save:hover:disabled {
    background-color: lightgray;
    cursor: initial;
  }
}
