#card-draggable {
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  display: flex;
  align-items: flex-start;
  background-color: var(--card-primary);
  flex-direction: column;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  &:hover {
    transition: background-color 0.35s ease-out;
    background-color: #e5eae9;
  }

  &:hover:before {
    transition: box-shadow 0.35s ease-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
  }

  .card-draggable-container {
    display: flex;
    width: 100%;
    .card-row {
      width: 100%;
      .card-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        div {
          display: flex;
          align-items: center;
          p {
            margin: 0 5px 0 0;
          }
        }
        .left-side {
          width: 60%;
          word-break: break-all;
        }
        .right-side {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .card-icon-row {
            margin-top: 5px;
          }
          #vote-container {
            .vote-tracker {
              padding: 3px 5px;
              height: 17px;
            }
          }
        }
      }
    }
  }
}

.card-is-dragging {
  background-color: rgb(245, 250, 248) !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16), 4px 4px 4px rgba(0, 0, 0, 0.23) !important;
}

.edit-icon {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
