.input-container {
  font-size: 19px;
  padding: 10px;
  label {
    padding: 5px;
  }
  .input-field {
    padding: 8px;
    font-size: inherit;
    outline: none;
    height: 19px;
  }
  .input-field:focus {
    border-color: var(--login-input-focus);
  }
  .input-icon {
    padding: 8px;
    text-align: center;
    width: 20px;
    background: var(--login-icon-bg-color);
    svg {
      color: var(--login-icon-color);
    }
  }
}
