.styled-select {
  border-radius: 5px;
  border: 1px solid var(--card-border);
  overflow: hidden;
  background-color: #ccd9e052;
  &:not(.editable) {
    cursor: default;
  }
  outline: none;
  background: var(--button-color);
  font-size: 19px;
  padding: 5px;
  width: 200px;
}
.input-container.grow {
  .styled-select {
    width: 100%;
  }
}
.styled-select {
  select,
  div {
    cursor: inherit;
  }
}
