.select-tag {
  .tags-ul {
    max-height: 350px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    li {
      display: flex;
      justify-content: center;
      width: 100%;
      .tag {
        margin: 5px;
      }

      &:hover {
        transition: background-color 0.8s ease;
        .tags-edit-label {
          cursor: pointer;
          visibility: visible;
          opacity: 1;
          transition: opacity 0.8s linear;
          width: 20%;
        }
      }
      &:not(:hover) .tags-edit-label {
        visibility: hidden;
        opacity: 0;
        // width: 0%;
      }
    }
  }
}
