#delete-popup {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .component-less {
    padding: 0 10px;
  }
  .title {
    margin-bottom: 10px;
  }
  .delete-button-group {
    display: flex;
    flex-direction: column;
    button {
      font-size: 1.7em;
      padding: 10px 16px;
    }
    .delete-popup-button {
      border: none;
      outline: none;
      height: 50px;
      border-radius: 10px;
      background-color: #4797e7;
      color: white;
      cursor: pointer;
    }
    .delete-popup-button:not(:last-child) {
      margin-bottom: 10px;
    }
    .delete-popup-button:hover {
      background-color: #2b6aa8;
    }
  }
}
