#landing-container {
  justify-content: space-between;
  overflow-y: hidden;
  #tabs {
    box-shadow: var(--bg-shadow);
    margin: 1em;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 300px;
    overflow-y: auto;
    .tab {
      border: 1px solid var(--landing-border);
      font-size: 1.25em;
      font-weight: 700;
      text-align: left;
      margin: 1em;
      padding: 1.5em 1em;
      box-shadow: var(--bg-shadow);
      cursor: pointer;
      &:hover:not(.active) {
        background-color: var(--landing-hover);
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.23), 2px 3px 6px rgba(0, 0, 0, 0.03);
      }
    }
    .active {
      background-color: var(--landing-hover);
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.23), 2px 3px 6px rgba(0, 0, 0, 0.03);
    }
  }
  #content {
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: var(--bg-shadow);
    margin: 1em;
    margin-left: 0;
    flex-grow: 1;
    flex-basis: 0;
  }

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    #tabs {
      max-width: none;
      flex-grow: 0;
      flex-basis: auto;
      margin: 0;
      .tab {
        margin: 0.75em;
        padding: 1em;
      }
    }
    #content {
      margin: 1em 0 0 0;
    }
  }
}
