#signin-container {
  .signin-inner {
    padding: 18px;
    margin-bottom: 1px;
    .signin-button {
      text-align: center;
      background-color: var(--login-button-bg-color);
      color: var(--login-button-color);
      font-weight: bold;
      width: 100%;
      border: none;
      padding: 10px;
      font-size: 1.2em;
      opacity: 0.9;
      cursor: pointer;
    }
    .input-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      margin-bottom: 20px;
      .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
        font-size: 1.1em;
      }
      .input-field:focus {
        border: 1px solid var(--card-primary);
      }
      .input-icon {
        text-align: center;
        font-size: 1.1em;
        padding: 12px;
        background: var(--login-icon-bg-color);
        svg {
          color: var(--login-icon-color);
        }
      }
    }
  }
  .signin-bottom-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    .signin-bottom-circle {
      display: flex;
      align-items: center;
      font-size: 5px;
      margin: 0 5px;
    }
    .register,
    .forgot-password {
      cursor: pointer;
    }
  }
}
