#view-container {
  &.signin,
  &.password-reset {
    width: 500px;
  }
  &.register {
    border: none;
    background-color: var(--login-primary);
    width: 600px;
  }
  &.signin,
  &.register,
  &.password-reset {
    @media only screen and (max-width: 550px) {
      width: inherit;
    }
  }

  #inner-container {
    padding: 18px;
    margin-bottom: 1px;
    .header {
      font-size: 1.6em;
      text-align: center;
      padding-bottom: 18px;
    }
    .app-title {
      font-size: 2.7em;
      font-family: "Frank Ruhl Libre", serif;
    }
    button {
      text-align: center;
      background-color: var(--login-button-bg-color);
      color: var(--login-button-color);
      font-weight: bold;
      width: 100%;
      border: none;
      padding: 10px;
      font-size: 1.2em;
      opacity: 0.9;
      cursor: pointer;
    }
    .input-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      margin-bottom: 20px;
      .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
        font-size: 1.1em;
        color: black;
      }
      .input-field:focus {
        border: 1px solid var(--login-input-focus);
      }
      .input-icon {
        text-align: center;
        font-size: 1.1em;
        padding: 12px;
        background: var(--login-icon-bg-color);
        svg {
          color: var(--login-icon-color);
        }
      }
    }
  }
  #bottom-container {
    padding-bottom: 10px;
    .signin-bottom-circle {
      font-size: 5px;
      margin: 0 5px;
    }
    .link {
      cursor: pointer;
    }
  }
}
