#filter-container {
  width: 500px;
  label {
    display: flex;
    padding: 10px;
    font-size: 1.1em;
  }
  .filter-selected-filters {
    border-top: 1px solid lightgray;
    margin-bottom: 20px;
  }
  .button-group-modes {
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
  }

  .button-basic {
    margin-right: 10px;
  }

  .button-basic,
  .button-advanced {
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: 1px solid lightgray;
    cursor: pointer;
  }
}
