.matches {
  .matches-button-group {
    display: flex;
    margin-bottom: 10px;
    button {
      width: 100%;
      border: none;
      outline: none;
      height: 40px;
      margin: 0 10px;
      padding: 10px 10px;
      background-color: #4797e7;
      color: white;
      cursor: pointer;
    }
    button:not(.button-active):hover {
      background-color: #2b6aa8;
    }
    .button-active {
      background-color: #2b6aa8;
    }
  }
}
