.boards-content {
  .board {
    .board-icon,
    .board-info {
      padding: 0.5em;
    }
    .board-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2em;
    }
    a {
      width: fit-content;
    }
    .board-info {
      .title {
        font-size: 1.5em;
        text-align: left;
      }
    }
  }
}
