.boards-content {
  .board {
    .board-icon,
    .board-info {
      padding: 0.5em;
    }
    .board-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 10px;
      max-width: 10px;
      max-height: 10px;
      font-size: 3em;
    }
    .board-info {
      div {
        text-align: left;
      }
      .title {
        font-size: 1.5em;
      }
      justify-content: space-between;
      align-items: center;
    }
  }
}
