.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.Modal {
  position: absolute;
  top: 10%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}

.outer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.inner-container {
  background: #fff;
  width: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.inner-content {
  padding: 10px;
  display: flex;
  flex-grow: 1;
}
