#comment-entry-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .comment-entry {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .comment-entry-header {
    display: flex;
    justify-content: space-between;
    .comment-entry-header-left {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
    .comment-entry-header-right {
      visibility: hidden;
      opacity: 0;
    }
    .comment-entry-name {
      font-weight: bold;
      margin-right: 5px;
    }
  }
  .comment-entry:hover {
    .comment-entry-header-right {
      visibility: visible;
      transition: opacity 0.8s linear;
      opacity: 1;
      .edit {
        margin-right: 5px;
      }
      .edit,
      .delete {
        cursor: pointer;
      }
    }
  }
  .comment-entry-time {
    font-size: 0.8em;
  }

  .comment-entry-text-container {
    display: flex;
    flex-direction: column;
    .comment-entry-text {
      display: inline-block;
      border: 1px solid rgb(153, 153, 153);
      padding: 10px;
      border-radius: 5px;
      background-color: white;
      cursor: pointer;
      resize: none;
      max-width: 94%;
    }
    .comment-entry-text:focus {
      cursor: initial;
    }
    .edit-comment-save {
      margin: 5px 0 0 0;
      width: 100px;
    }
  }

  .comment-entry-actions {
    display: flex;
    font-size: 0.8em;
    text-decoration: underline;
    font-style: italic;
    .comment-entry-edit {
      margin-right: 5px;
    }
    .comment-entry-edit,
    .comment-entry-delete {
      cursor: pointer;
    }
  }
}
