#view-popup {
  padding: 10px;
  .title {
    margin-bottom: 10px;
    font-size: 1.3em;
  }
  .view-button-group {
    display: flex;
    flex-direction: column;
  }
  button {
    border: none;
    outline: none;
    font-size: 1.3em;
    height: 50px;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #4797e7;
    color: white;
    cursor: pointer;
  }
  button:not(:last-child) {
    margin-bottom: 10px;
  }
  button:not(.button-active):hover {
    background-color: #2b6aa8;
  }
  .button-active {
    background-color: #2b6aa8;
  }
}
