#add-card-outer {
  background: #fff;
  border-radius: 2px;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-grow: 1;
  .markdown-modes {
    #editor-mode {
      #editor-title {
        background-color: #f3f3f3;
      }
    }
  }
}
