#accept-cancel-button-group {
  display: flex;
  justify-content: center;
  .button-accept {
    background-color: rgba(19, 180, 5, 0.7);
  }
  .button-accept:hover {
    background-color: rgba(19, 180, 5, 0.9) !important;
  }
  .button-cancel {
    background-color: rgba(253, 10, 10, 0.7);
  }
  .button-cancel:hover {
    background-color: rgba(238, 6, 6, 0.8) !important;
  }
  button {
    width: 45%;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  button:first-child {
    margin-right: 10px;
  }
}
