#accept-cancel-button-group {
  display: flex;
  justify-content: center;
  .button-accept {
    background-color: var(--button-color);
  }
  .button-accept:hover {
    background-color: var(--button-hover);
  }
  .button-cancel {
    background-color: var(--button-color);
  }
  .button-cancel:hover {
    background-color: var(--button-hover);
  }
  button {
    width: 45%;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
  }
  button:first-child {
    margin-right: 10px;
  }
}
