#markdown-editor {
  display: flex;
  width: 100%;
  flex-direction: column;
  .editor-button-group {
    margin-top: 2%;
    float: right;
  }

  .button-group-modes {
    padding-bottom: 10px;
    display: flex;
  }

  .button-editor {
    margin-right: 10px;
  }

  .button-editor,
  .button-preview,
  .button-delete-card {
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: 1px solid lightgray;
    cursor: pointer;
  }

  .button-delete-card {
    margin-left: auto;
    span {
      margin-left: 5px;
    }
  }

  button:not(.button-active):hover {
    background-color: rgb(219, 219, 219);
  }

  .button-active {
    background-color: #4797e7;
    color: white;
  }
  #editor-text-area {
    height: 80%;
    width: 99%;
    resize: none;
  }
  .tag-label {
    display: flex;
    align-items: center;
    span {
      margin-right: 5px;
    }
  }
}
