#markdown-editor {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#preview-mode {
  border: 1px solid lightgray;
  height: 100%;
  overflow-y: auto;
  div {
    padding: 0px;
  }
}

#editor-mode {
  height: 100%;
  .description {
    height: 60%;
  }
}

#editor-text-area {
  height: 80%;
  width: 99%;
  resize: none;
}

.editor-button-group {
  margin-top: 2%;
  float: right;
}

.markdown-modes {
  height: 80%;
}

.button-group-modes {
  padding-bottom: 10px;
}

.button-editor {
  margin-right: 10px;
}

.button-editor,
.button-preview {
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.button-active {
  background-color: #4797e7;
  color: white;
}

.editor-button-save {
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #03b42a;
  color: #fff;
  outline: none;
  width: 80px;
  height: 30px;
  margin-right: 10px;
}

.editor-button-cancel {
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #df1934;
  color: #fff;
  outline: none;
  width: 80px;
  height: 30px;
}

.editor-button-save:active,
.editor-button-cancel:active {
  box-shadow: inset 1px 1px 10px rgb(112, 111, 111);
}

.tag-label {
  display: flex;
  align-items: center;
  span {
    margin-right: 5px;
  }
}
