.markdown-preview {
  overflow-y: auto;
  ul, p { margin-bottom: 0.5em; margin-top: 0; }
  min-height: 1em;
  text-align: initial;
}

.markdown-preview>:last-child {
  margin-bottom: 0;
}
.markdown-preview>:first-child {
  margin-top: 0;
}

.markdown-area {
  min-height: 1em;
  padding: 10px !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: none;
}