.container {
  position: relative;
}

.textarea {
  width: 150px;
  outline: none;
  min-height: 23px;
  padding: 1px;
  box-shadow: none;
  border: none;
  display: block;
  overflow: hidden; // Removes scrollbar
  transition: height 0.2s ease;
  resize: none;
  font-size: 18px;
  background-color: inherit;
}

.textarea--ghost {
  font-size: 18px;
  text-align: start;
  opacity: 0.3;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  //  Uncomment below to hide the ghost div...
  visibility: hidden;
  position: absolute;
  top: 0;
}

.textarea:hover,
.textarea:focus {
  border: 1px solid rgb(167, 167, 167);
  padding: 0;
}
