#add-tag {
  border: 1px solid var(--card-border);
  color: #000 !important;
  cursor: pointer;
}
.tag-popup {
  p {
    margin: 0 auto 10px auto;
  }
  .create-tag-container {
    display: flex;
    margin: 10px 20px 0px 20px;
    border: 1px solid var(--card-border);
    height: 30px;
    align-items: center;
    justify-content: center;
    span {
      margin-left: 5px;
    }
    outline: none;
    border-radius: 10px;
    background-color: var(--card-primary);
    cursor: pointer;
  }
  .create-tag-container:hover {
    background-color: var(--card-hover);
  }
}

.add-tag-modal-inner-container {
  width: 250px;
}
