#add-tag {
  border: 1px solid lightgray;
  color: #000 !important;
  cursor: pointer;
}
.tag-popup {
  p {
    margin: 0 auto 10px auto;
  }
  .create-tag-container {
    display: flex;
    margin: 10px 20px 0px 20px;
    border: 1px solid lightgray;
    height: 30px;
    align-items: center;
    justify-content: center;
    span {
      margin-left: 5px;
    }
    outline: none;
    border-radius: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  .create-tag-container:hover {
    background-color: #c9c9c9;
  }
}

.add-tag-modal-inner-container {
  background: #fff;
  width: 250px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
