#back {
  .back-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid lightgray;
    .back-icon {
      margin-right: 5px;
    }
    div {
      cursor: pointer;
    }
  }
}
