#column-draggable {
  margin: 0 2px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .column-header {
    background-color: #f3f3f3;
    padding: 8px;
    margin: 0 0 0 0;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05), 0px 0px 6px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;

    .title {
      text-align: center;
      flex: 1 0 auto;
      font-size: 1.2em;
      display: flex;
    }

    .card-number {
      margin-right: 5px;
    }

    &:hover {
      .add-card {
        visibility: visible;
        transition: opacity 0.8s linear;
        opacity: 1;
      }
    }
  }

  #column-droppable {
    transition: background-color 0.2s ease;
    height: 150%;
    border: 1px solid lightgrey;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
}

.add-card {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.col-is-dragging {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.16), 4px 4px 4px rgba(0, 0, 0, 0.23) !important;
  #column-droppable {
    border: none !important;
    background-color: rgb(245, 250, 248) !important;
  }
}
