#column-draggable {
  margin: 20px 10px 10px 5px;
  min-width: 300px;
  max-width: 300px;
  height: fit-content;
  max-height: 97%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--column-shadow);
  border-radius: 5px;
  .column-empty {
    min-height: 50px;
  }
  .column-container {
    background-color: var(--column-secondary);
    border-radius: 5px 5px 0 0;
  }
  .column-header {
    box-shadow: 0 0 3px 0 rgba(0, 1, 0, 0.32);
    background-color: var(--column-primary);
    padding: 8px;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;

    .title {
      text-align: center;
      flex: 1 0 auto;
      font-size: 1.2em;
      display: flex;
    }

    .card-number {
      margin-right: 5px;
    }

    .add-card {
      display: flex;
      visibility: visible;
      transition: opacity 0.8s linear;
      opacity: 1;
    }
    &:hover {
      transition: background-color 0.35s ease-out;
      background-color: var(--card-hover);
    }
  }

  #column-droppable {
    transition: background-color 0.2s ease;
  }
}

.add-card {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.col-is-dragging {
  .column-header {
    background-color: var(--card-hover);
  }
  background-color: var(--card-hover);
}
