#column-draggable {
  margin: 20px 10px 10px 5px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--column-shadow);
  border-radius: 5px 5px 0 0;
  .column-empty {
    min-height: 50px;
  }
  .column-container {
    background-color: var(--column-primary);
    border-radius: 5px 5px 0 0;
  }
  .column-header {
    border-bottom: 1px solid var(--card-border);
    padding: 8px;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;

    .title {
      text-align: center;
      flex: 1 0 auto;
      font-size: 1.2em;
      display: flex;
    }

    .card-number {
      margin-right: 5px;
    }

    &:hover {
      .add-card {
        display: flex;
        visibility: visible;
        transition: opacity 0.8s linear;
        opacity: 1;
      }
      transition: background-color 0.35s ease-out;
      background-color: var(--card-hover);
    }
  }

  #column-droppable {
    transition: background-color 0.2s ease;
  }
}

.add-card {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.col-is-dragging {
  .column-header {
    background-color: var(--card-hover);
  }
  background-color: var(--card-hover);
}
