#base-container {
  height: inherit;
  display: flex;
  flex-direction: column;
}
#views-base {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: linear-gradient(
    to bottom,
    #7494c6,
    #84a3d4,
    #94b3e2,
    #a4c2f1,
    #b5d2ff
  );
  .views-group-name {
    border: 1px solid #d4d6d6;
    padding: 5px 10px;
    .views-group-name-title {
      writing-mode: vertical-rl;
      padding-top: 10px;
    }
  }
}

#views-base-container {
  display: flex;
  flex-grow: 1;
}
