#base-container {
  height: inherit;
  display: flex;
  flex-direction: column;
}
#views-base {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .views-group-name {
    border: 1px solid #d4d6d6;
    padding: 5px 10px;
    margin-right: 10px;
    box-shadow: 2px 0px 2px 0px rgba(168, 168, 168, 0.5);
    .views-group-name-title {
      writing-mode: vertical-rl;
      padding-top: 10px;
      letter-spacing: 3px;
      font-size: 1.8em;
    }
  }
}

#views-base-container {
  display: flex;
  flex-grow: 1;
}
