#base-container {
  height: inherit;
  display: flex;
  flex-direction: column;
}
#views-base {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  .views-group-name {
    background-color: var(--bg-navbar);
    box-shadow: var(--bg-shadow);
    z-index: 2;
    padding: 5px 10px;
    margin-right: 20px;
    .views-group-name-title {
      writing-mode: vertical-rl;
      padding-top: 10px;
      letter-spacing: 3px;
      font-size: 1.8em;
    }
  }
}

#views-base-container {
  display: flex;
  flex-grow: 1;
  max-height: inherit;
}
