#navbar {
  box-shadow: var(--bg-shadow);
  z-index: 1;
  overflow-x: hidden;
}

.navbar-list {
  align-items: center;
  background-color: var(--bg-navbar);
  color: var(--navbar-text-color);
  svg:not([color]) {
    color: var(--navbar-text-color);
  }
  .navbar-list-container {
    display: flex;
  }
  div.navbar-top-left {
    width: 54px;
    display: flex;
    align-items: center;
    img {
      width: 40px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  ul.menu {
    height: 5em;
    margin: 0;
    align-items: center;
    padding: 0px;
    list-style: none;
    justify-content: space-between;
    div {
      flex-basis: 0;
    }
    .brand {
      font-size: 2.8em;
      font-family: "Lora";
      letter-spacing: 3px;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600;
      .icon-title > span {
        margin-top: 0;
      }
    }
    .placeholder {
      width: 146px;
    }
    .active-li {
      background-color: rgb(243, 243, 243);
      transition: box-shadow 0.2s ease;
      transition: background-color 0.2s ease;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16), 2px 3px 6px rgba(0, 0, 0, 0.23);
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    li > span {
      margin-left: 5px;
    }
    li {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      .icon-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          margin-top: 5px;
        }
      }
      border-radius: 5px 20px;
      margin: 0 15px;
    }
    li:not(.brand) {
      cursor: pointer;
    }
    li:not(.brand):hover {
      background-color: var(--icon-hover);
      transition: box-shadow 0.2s ease;
      transition: background-color 0.35s ease;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.23), 2px 3px 6px rgba(0, 0, 0, 0.03);
    }

    .active-filter {
      padding-right: 76px;
    }
  }
}
