#delete-column-outer {
  font-size: 1.1em;
  .title {
    margin-top: 10px;
  }
  .delete-button-group {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    .delete-button {
      border: none;
      outline: none;
      height: 50px;
      padding: 10px 16px;
      border-radius: 10px;
      background-color: #f1f1f1;
      border: 1px solid lightgray;
      cursor: pointer;
    }
    .delete-button:not(:last-child) {
      margin-bottom: 10px;
    }
    .delete-button:not(.unselectable):hover {
      background-color: rgba(20, 201, 4, 0.8);
    }
    .selectable {
      background-color: rgba(22, 216, 4, 0.7);
    }
    .unselectable {
      background-color: rgba(253, 10, 10, 0.7);
      cursor: default;
    }
  }
  #selected-column {
    background-color: #f1f1f1;
    padding: 10px;
  }
}
