#navbar {
  border: 1px solid rgb(238, 238, 238);
  align-items: center;
  box-shadow: 5px 10px 20px -20px rgb(85, 172, 238);
  ul.menu {
    height: 35px;
    margin: 0 auto;
    align-items: center;
    border: 1px solid rgb(238, 238, 238);
    padding: 0;
    list-style: none;
    display: flex;
    .brand {
      margin-left: auto;
      margin-right: auto;
    }
    .active-li {
      background-color: rgb(243, 243, 243);
      transition: box-shadow 0.2s ease;
      transition: background-color 0.2s ease;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16),
        2px 3px 6px rgba(0, 0, 0, 0.23);
    }
    li > span {
      margin-left: 5px;
    }
    li {
      padding: 0 10px;
      height: 100%;
      display: flex;
      align-items: center;
    }
    li:not(.brand) {
      cursor: pointer;
    }
    li:not(.brand):hover {
      background-color: rgb(243, 243, 243);
      transition: box-shadow 0.2s ease;
      transition: background-color 0.2s ease;
      box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16),
        2px 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
  ul > li:not(:first-child):not(.brand) {
    border: 1px solid rgb(238, 238, 238);
  }
}

.nav-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-Modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  .outer-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

#navbar-portal {
  #navbar-popup {
    border: 1px solid lightgray;
    border-radius: 5px;
    background: #fff;
    padding: 10px 0;
    width: 200px;
    text-align: center;
  }
}
