#column-draggable {
  margin: 8px;
  // border: 1px solid lightgrey;
  // background-color: rgb(217, 220, 223);
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .column-header {
    padding: 8px;
    margin: 0;
    border: 1px solid black;
    display: flex;
    align-items: center;

    .title {
      text-align: center;
      flex: 1 0 auto;
      font-size: 1.2em;
      input {
        border: none;
        display: inline;
        font-family: inherit;
        font-size: inherit;
        padding: none;
      }
      input.break {
        word-wrap: break-word;
        word-break: break-all;
        height: 80%;
      }
    }

    &:hover {
      .add-card {
        visibility: visible;
        transition: opacity 0.8s linear;
        opacity: 1;
      }
    }
  }

  #column-droppable {
    transition: background-color 0.2s ease;
    flex-grow: 1;
    min-height: 70vh;
    border: 1px solid lightgrey;
    background-color: rgb(217, 220, 223);
  }
}

.add-card {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
