#vote-container {
  .flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .vote-thumbs-container {
    .vote-tracker {
      height: 20px;
      padding: 3px 5px;
      border: 1px solid lightgray;
      background-color: #f6faf9;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .vote-counter {
      cursor: pointer;
    }
    .has-votes {
      margin-right: 5px;
    }
  }
  .vote-thumbs-container .has-votes:first-child {
    margin-right: 5px;
  }
}
