#vote-container {
  display: flex;
  align-items: center;
  .vote-thumbs-container {
    display: flex;
    align-items: center;
    .vote-counter {
      width: 35px;
      height: 20px;
      border: 1px solid lightgray;
      background-color: #f6faf9;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .vote-thumb {
      cursor: pointer;
    }
    .has-votes {
      margin-right: 5px;
    }
  }
  .vote-thumbs-container .has-votes:first-child {
    margin-right: 5px;
  }
}
