html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  input,
  select,
  textarea {
    font-family: "Lato", serif;
    color: var(--text-color);
  }

  svg:not([color]) {
    color: var(--icon-color);
  }

  .pull-right {
    margin-left: auto;
  }

  --bg-primary: #eef1f5;
  --bg-navbar: var(--bg-primary);
  --navbar-text-color: var(--text-color);
  --modal-bg-color: var(--card-primary);
  --bg-shadow: 0px 0px 13px 0px rgba(98, 98, 102, 0.16);
  --card-border: lightgrey;
  --card-primary: #ffffff;
  --card-hover: #ebebeb;
  --column-hover: var(--card-hover);
  --column-primary: var(--bg-primary);
  --column-shadow: 0px 0px 6px 0px rgba(98, 98, 102, 0.16);
  --text-color: black;
  --text-bg-color: #f0f0f0;
  --icon-color: black;
  --icon-hover: var(--card-hover);
  --button-color: var(--text-bg-color);
  --button-hover: var(--card-hover);
  --modal-icon-color: rgb(26, 25, 25);
  --login-primary: var(--card-primary);
  --login-icon-bg-color: #dddddd;
  --login-icon-color: black;
  --login-button-bg-color: var(--login-icon-bg-color);
  --login-button-color: black;
  --login-input-focus: black;
  --tooltip-text-color: #ffffff;
  --tooltip-bg-color: #222;
}

#root,
#app-container {
  height: 100%;
  background-color: var(--bg-primary);
  color: var(--text-color);
}
