html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: "Lora", serif;
  input,
  select,
  textarea {
    font-family: "Lora", serif;
  }

  --bg-primary: #eef1f5;
  --card-primary: #ffffff;
}

#root,
#app-container {
  height: 100%;
  background-color: var(--bg-primary);
}

// --bg-secondary:
// --text-primary:
// --text-secondary:
// --text-alternate:
// --shadow-primary:
// --shadow-secondary:
