#card-draggable {
  border: 1px solid lightgrey;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: start;
  background-color: white;
  flex-direction: column;

  &:hover {
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    transition: background-color 0.8s ease;
    transform: scale(1.1);
    .edit-icon {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.8s linear;
    }
  }

  .card-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    div {
      display: flex;
      align-items: center;
      p {
        margin: 0 5px 0 0;
      }
    }
  }
}

.is-dragging {
  background-color: rgb(245, 250, 248) !important;
}

.edit-icon {
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
